{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<link rel="icon" type="image/jpg" href="{% static 'images/icon-leaf.png' %}">
<title>{% block title %}Planteer{% endblock %}</title>
    <div class="page-container">
        <div class="search-container">
            <form action="{% url 'main:search_results' %}" method="get" class="search-container">
                <input type="text" name="query" placeholder="Search..." class="search-input" required>
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="image-container">
            <img src="{% static 'images/leaf.jpg' %}" alt="Right Image" class="right-image">
        </div>
    </div>
{% endblock %}
