:root {
    --primary-color: #557C55;
    --secondary-color: #5F7464;
    --background-color: #DB6B97;
    --text-color: #243D25;
}
html, body {
    height: 100%;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--primary-color);
    padding: 20px;
}

.header-container h1 {
    margin: 0;
    color: var(--background-color);
}

.material-symbols-outlined {
    color: var(--background-color);
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 15px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.add {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add:hover {
    background-color: var(--secondary-color);
}

footer {
    border-top: 1px solid var(--primary-color);
    padding: 20px;
    text-align: center;
    color: var(--text-color);
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left h3 {
    margin: 0;
    color: #DB6B97;
}


.pagination-container {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.pagination-button {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
}

.pagination-container a:first-child {
    left: 0%; 
}

.pagination-container a:last-child {
    right: 0; 
}
.page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.page-container {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.search-container {
    width: 60%;
    display: flex;
    align-items: center;
    padding: 40px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid var(--background-color);
    background-color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    display: inline-block;
}

.search-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: none;
    color: green;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
}

.search-button:hover {
    color: darkgreen;
}


.image-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.right-image {
    width: 700px;
    height: 1200px;
    border-radius: 8px;
    object-fit: cover;
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    margin-top: 30px;
    width: 100%;
}

form h2 {
    margin-bottom: 30px;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    width: 20%;
}

.form-group label {
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 10px;

}

.form-group input,
.form-group select,
.form-group textarea {
    border-radius: 5px;
    border: 2px solid #dddddd;
    background-color: #f9f9f9;
    padding: 10px;
    width: 100%;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(85, 124, 85, 0.5);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

#id_native_to {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background-color: #f9f9f9;
    max-height: 150px;
    overflow-y: auto;
}

#id_native_to option {
    padding: 5px 10px;
    border-radius: 5px;
}

.dropdown-menu {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
}

.dropdown-item {
    display: block;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.country-checkbox {
    margin-right: 10px;
}

.dropdown-item input[type="checkbox"] {
    margin-left: 5px;
}

button.dropdown-toggle {
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button.dropdown-toggle:focus {
    box-shadow: none;
}

.plant-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.plant-card {
    width: calc(33.333% - 20px);
    height: 400px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.plant-card:hover {
    transform: translateY(-10px);
}

.plant-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.plant-detail {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.plant-detail h1 {
    font-size: 2.5rem;
    color: #557C55;
    margin-bottom: 20px;
}

.plant-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.plant-info {
    flex: 1;
    max-width: 60%;
    color: #333;
    text-align: left;
}

.plant-image {
    flex: 1;
    max-width: 30%;
    text-align: left;
} 

.plant-image img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    padding: 20px;

}

.plant-info p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.plant-detail-back {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #557C55;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 20px;
}

.plant-detail-back i {
    font-size: 1.2rem;
    transition: transform 0.3s;
}

.plant-detail-back:hover i {
    transform: translateX(-5px);
}
.related-plants {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.related-plant-card {
    width: 200px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

}

.related-plant-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.related-plant-card img, .related-plant-card .card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;

}

.related-plant-card .card-body {
    padding: 15px;
    
}

.related-plant-card .card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.related-plant-card .btn-link {
    padding: 0;
    font-size: 0.9rem;
    color: var(--primary-color);
}

.related-plant-card .btn-link:hover {
    text-decoration: underline;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-align: center;
}

.custom-contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-contact-form .custom-form-group {
    width: 100%;
    margin-bottom: 15px;
}

.custom-contact-form .custom-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
    text-align: left; 
}

.custom-contact-form .custom-form-group input,
.custom-contact-form .custom-form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.custom-contact-form .custom-form-group input:focus,
.custom-contact-form .custom-form-group textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(85, 124, 85, 0.5);
}

.custom-contact-form .custom-form-group textarea {
    resize: vertical;
    height: 150px;
}

.custom-btn.custom-btn-primary {
    background-color: var(--primary-color);
    border: none;
    padding: 8px 8px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%; 
}

.custom-btn.custom-btn-primary:hover {
    background-color: var(--secondary-color);
}

.btn-block {
    display: block;
    width: auto;
}
.add-plant-form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px; 
}

.add-plant-form h2 {
    color: #557C55;
}

.add-plant-form {
    padding: 20px;
    border-radius: 10px;
}

.add-plant-form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.add-plant-radio-group {
    display: flex;
    gap: 10px;
}

.add-plant-radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-plant-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

.add-plant-dropdown-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.add-plant-btn.add-plant-btn-primary {
    background-color: #557C55;
    border: none;
    padding: 8px 15px; 
    font-size: 1rem; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; 
}

.add-plant-btn.add-plant-btn-primary:hover {
    background-color: #5F7464;
}

.text-container {
    position: fixed;
    top: 20%;
    left: 10%;
    width: 70%;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50; 
    z-index: 1000;
}

.hover-text {
    font-size: 50px;
    font-weight: bold;
    color: #243D25;
    transition: transform 1.1s ease-in-out; 
}

.hover-text:hover {
    transform: scale(1.2); 
}
